a {
	text-decoration: none;
	color: white;
	transition: color .15s, opacity .15s;
}

a:hover {
	color: yellow;
}

a:active {
	opacity: 75%;
}

.navbar {
	background-color: purple;
	font-family: "Verdana";
	font-size: 200%;
	text-align: center;
	text-shadow: 2px 2px 8px black;
	padding-top: 12px;
	padding-bottom: 12px;
}


body {
	background-color: black;
	margin: 0;
	width: 100vw;
	height: 100vh;
}


.name {
	color: yellow;
	font-family: "Zeyada";
	font-size: 500%;
	text-align: center;
	text-shadow: 4px 4px 16px grey;
	padding-top: 25%;
	line-height: 100px;
}

.job_title {
	color: powderblue;
	font-family: "Verdana";
	font-size: 150%;
	text-align: center;
	padding-bottom: 5%;
}

.about_me {
	color: white;
	font-family: "Verdana";
	font-size: 100%;
	text-align: center;
	padding-right: 12%;
	padding-left: 12%;
}

.space_image {
	width: 90%;
	height: auto;
	display: block;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	background-color: teal;
	color: black;
	font-family: "Verdana";
	font-size: 100%;
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
}

.contact {
	color: white;
}

.contact_image {
	padding-top: 3%;
	width: 75%;
	height: auto;	
	border-radius: 50%;
	padding-left: 20%;
}

.contact_name {
	font-family: "Zeyada";
	font-size: 200%;
	color: yellow;
}

.contact_info {
	font-size: 150%;
	font-family: "Verdana";
	text-align: center;
	padding-top: 18%;
	padding-right: 20%;
}

.skills {
	color: white;
	background-color: #242424;
}

.bold_text {
	font-weight: bold;
	color: yellow;
}

.bold_text_blue {
	font-weight: bold;
	color: powderblue;
}

.projects {
	color: white;
	text-align: center;
	margin-top: 9%;
	column-gap: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.project {
	background-color: powderblue;
	color: black;
	height: 50vh;
	border-style: solid;
	border-color: yellow;
	transition: opacity .15s;
}

.project:hover {
	opacity: 75%;
}

.project:active {
	opacity: 50%;
}

.calculator {
	width: 100%;
	height: 65%;
	background-image: url('calculator.jpeg');
	background-size: cover;
	background-position: 50% 50%;
}

.tictactoe {
	width: 100%;
	height: 65%;
	background-image: url('tictactoe.jpeg');
	background-size: cover;
	background-position: 50% 50%;
}

.storm {
	width: 100%;
	height: 65%;
	background-image: url('storm.jpeg');
	background-size: cover;
	background-position: 50% 50%;
}

.project_title {
	font-family: "Vardana";
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 4px;
	padding-top: 4px;
}

.description {
	font-family: "Verdana";
}

.skills_photo {
	width: 96%;
	height: auto;
	display: block;
}

.skills_text {
	padding-top: 25%;
	text-align: center;
	font-size: 150%;
	font-family: "Verdana";
}